<br>
<br>
<br>
<h1 id="header">More details about {{ jam.name }}</h1>
<p>This jam session was created by <b> {{ jam.owner.fullName }} </b></p>
<br>
<h3 id="header">Description</h3>
<p> {{ jam.description }}</p>
<br>
<h3 id="header">Location</h3>
<div class="images-details">
<img src="{{jam.imageUrl}}" alt="" width="300">
</div>

{{!-- USER CAN NOT LEAVE REVIEWS ON THEIR OWN PROPERTIES --}}
{{!-- this means that only if the user IS NOT the owner, this form will be shown --}}

{{#unless jam.isOwner}}
  <h2 id="header">Add a review</h2>
  <div class="review-add">
    <form action="/jamsessions/{{jam._id}}/add-review" method="POST">
      <textarea name="comment" id="text-area" cols="60" rows="5"></textarea>
      <button type="submit">Add</button>
    </form>
  </div>
{{/unless}}

{{!-- if there are reviews, show them, if not, never mind them --}}

{{#if jam.reviews}}
  <h3 id="header">What the jammers think:</h3>
  {{#each jam.reviews}}
    <p> <b>{{ this.user.fullName }}: </b> {{ this.comment }}  </p>
    {{#if this.canBeChanged}}
      <a href="/reviews/{{this._id}}">Edit</a>
      <form action="/reviews/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
      </form>
    {{/if}}
  {{/each}}
{{/if}}

<br>
<br>