<h1 id="header">Jam Sessions</h1>

<br> 

<div id="jam-container">
  {{#each jamsFromDB}}
  <div class="jam-card">
    <h3>  <a href="/jams/{{this._id}}">{{this.name}}</a> </h3>
    <img src="{{this.imageUrl}}" alt="" width="300">
    <div class="jam-card-buttons">
    {{#if this.isOwner}}
      <form id="delete-update" action="/jams/{{this._id}}/update">
        <button type="submit">Update</button>
      </form>
      <form id="delete-update" action="/jams/{{this._id}}/delete">
        <button type="submit">Delete</button>
      </form>
    {{/if}}
    </div>
  </div>
  {{/each}}
</div>